/* body, html, #particles-js {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
} */


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Audiowide', sans-serif;
    height: 100%; /* Ensure body takes up full height */
    display: flex; /* Make body a flex container */
    flex-direction: column; /* Stack children vertically */
}

#flex-container {
    flex: 1; /* This will make sure your main content grows to take available space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

#main-content {
    flex-grow: 1; /* This will make sure your main content grows to take available space */
}

#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 63, 136), rgb(98, 89, 177));
}

.name {
    position: absolute;
    top: 40%;  /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 20px;  /* Added margin */
}

.subheading {
    position: absolute;
    top: 50%;  /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;  
    color: white;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    margin-bottom: 20px;  /* Added margin */
}

.icons {
    position: absolute;
    top: 60%;  /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.icons a {
    margin: 0 10px;
    display: inline-block;
    border: 2px solid white; /* White border around the icon */
    border-radius: 50%; /* Makes the border circular */
    padding: 5px; /* Space between the icon and the border */
    transition: background-color 0.3s, filter 0.3s; /* Adds transition for background and icon color */
}

.icons a:hover {
    border-color: rgba(255, 255, 255, 0.7);  
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.842);  
}

.icons a img {
    width: 40px;
    height: 40px;
    display: block; /* Ensures the icon takes up the full space within the border */
}

#contact-btn {
    width: auto;
    position: absolute;
    bottom: -200px;  
    left: 50%;  /* Center it horizontally */
    transform: translateX(-50%);  /* Adjust for exact centering */
    padding: 10px 40px;
    background: rgba(0, 17, 255, 0);  /* Semi-transparent blue */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: 'Audiowide', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#contact-btn:hover {
    border-color: rgba(255, 255, 255, 0.7);  
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);  
}

/* Section 2*/

/* Intro section */

.profile {
    width: 70%;  /* Adjust as needed */
    margin: 0 auto;  /* Center the profile content */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;  /* A more professional font */
    line-height: 1.5;  /* Improved readability */
    margin-bottom: 50px;  /* Added space below the profile section */
}

.profile-image {
    width: 170px;  /* Set the width of your image */
    height: 170px;  /* Set the height of your image */
    border-radius: 50%;  /* Optional: for rounded profile image */
    margin-bottom: 20px;  /* Space between image and text */
}

.story h1 {
    font-size: 2em;  /* Adjust as needed */
    font-family: 'Audiowide', sans-serif;
}

.story p {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;  /* Adjust as needed */
}

/* prject section */

/* Styling for the project button */
.project-button {
    display: block; /* Button occupies its own line */
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px;
    color: rgb(7, 6, 6);
    border-radius: 5px;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
    border: 1px linear-gradient(to right, rgb(0, 63, 136), rgb(98, 89, 177));  
    background: rgba(255, 255, 255, 0);  /* Slightly transparent white */
    font-family: 'Audiowide', sans-serif;
    outline: none;  /* Remove the default outline */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.project-button:hover {
    border-color: linear-gradient(to right, rgb(0, 63, 136), rgb(98, 89, 177));  
    box-shadow: 0 0 10px rgba(22, 75, 247, 0.425);  
}


/* Subheadings */

.text h2 {
    text-align:start;
    margin-bottom: 10px;  /* Adjust as needed for spacing below the heading */
    color: black;
}

/* paragraphs */

#image-text-section {
    font-family: 'Nunito Sans', sans-serif;  /* A more professional font */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;  /* Padding at the top and bottom */
    text-align:justify;
}

.container {
    width: 50%;  /* Adjust width as needed */
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    margin-bottom: 20px;  /* Space between items */
}

.item.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    margin: 0 20px;  /* Space between text and image */
}

img {
    width: 300px;  /* Adjust image width as needed */
    border-radius: 10px;  /* Optional: for rounded corners */
}

/* Check button */


/* Footer */

#footer {
    background: linear-gradient(to right, rgb(0, 63, 136), rgb(98, 89, 177));
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

h2 {
    color: white;
    font-family: 'Audiowide', sans-serif;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);  /* Thin border with light opacity */
    border-radius: 4px;  /* Slight rounding of corners */
    background: rgba(255, 255, 255, 0.1);  /* Slightly transparent white */
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;  /* Remove the default outline */
    transition: border-color 0.3s, box-shadow 0.3s;  /* Smooth transition for border and shadow */
}

form input:focus, form textarea:focus {
    border-color: rgba(255, 255, 255, 0.7);  /* Border becomes more opaque when field is focused */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);  /* Slight glow effect */
}

form button {
    width: auto;
    cursor: pointer;
    background: #68686800;  /* Blue background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    padding: 8px 30px;/* Reduced padding */
    font-size: 0.9em;   /* Reduced font size */
}

form button:hover {
    border-color: rgba(255, 255, 255, 0.7);  /* Border becomes more opaque when field is focused */
    box-shadow: 0 0 10px rgba(243, 242, 242, 0.733);  /* Slight glow effect */
}


/* Responsive Styles */
@media (max-width: 1000px) {
    .name {
        font-size: 4em;
    }
    .subheading {
        font-size: 1.2em;
    }
    .icons a img {
        width: 40px;
        height: 40px;
    }
    .profile-image {
        width: 140px;
        height: 140px;
    }
    .story h1 {
        font-size: 1.5em;
    }
    .container {
        width: 70%;
    }
    img {
        width: 250px;
    }
}

@media (max-width: 800px) {
    .name {
        font-size: 3em;
    }
    .subheading {
        font-size: 1em;
    }
    .icons a img {
        width: 30px;
        height: 30px;
    }
    .profile-image {
        width: 120px;
        height: 120px;
    }
    .story h1 {
        font-size: 1.2em;
    }
    .container {
        width: 80%;
    }
    img {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .name {
        font-size: 2em;
    }
    .subheading {
        font-size: 0.8em;
    }
    .icons a img {
        width: 25px;
        height: 25px;
    }
    .profile-image {
        width: 100px;
        height: 100px;
    }
    .story h1 {
        font-size: 1em;
    }
    .container {
        width: 90%;
    }
    img {
        width: 150px;
    }
}




/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 5px;  
    background-color: rgb(98, 89, 177); 
}

::-webkit-scrollbar-thumb {
    background-color: rgb(132, 138, 146);  
    border-radius: 10px;
    border: 2px solid rgba(0 ,0 , 0 , 0);  
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(173, 173, 173);  
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);  
}


